{
	email {$ACME_EMAIL}
}

admin.{$BASE_DOMAIN} {
	reverse_proxy admin-panel:3000
}

org.{$BASE_DOMAIN} {
	reverse_proxy organization-panel:3000
}

app.{$BASE_DOMAIN} {
	reverse_proxy customer-app:3000
}

api-admin.{$BASE_DOMAIN} {
	reverse_proxy admin-service:8082
}

api-org.{$BASE_DOMAIN} {
	reverse_proxy organization-panel-service:8080
}

api-app.{$BASE_DOMAIN} {
	reverse_proxy customer-service:8081
}

api-merchant.{$BASE_DOMAIN} {
	reverse_proxy merchant-service:8083
}
